<div id="<%= dom_id receipe_info %>">
  <p>
    <strong>Title:</strong>
    <%= receipe_info.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= receipe_info.body %>
  </p>

  <p>
    <strong>Posted at:</strong>
    <%= receipe_info.posted_at %>
  </p>

</div>
