<h1>Editing receipe info</h1>

<%= render "form", receipe_info: @receipe_info %>

<br>

<div>
  <%= link_to "Show this receipe info", @receipe_info %> |
  <%= link_to "Back to receipe infos", receipe_infos_path %>
</div>
